h1= title
p Welcome to #{title}

- if (popped)
  h3 I just popped: #{popped}
  
- if (stack.length)
  h2 The stack presently contains:
  ol
    - stack.forEach(function(item) {
      li= item
    - })
- else
  h2 The stack is empty, oh no!